service/reservVoyage/src/reservVoyageTable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="reservVoyageTable" targetNamespace="http://j2ee.netbeans.org/wsdl/reservVoyage/reservVoyageTable" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://j2ee.netbeans.org/wsdl/reservVoyage/reservVoyageTable" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
            <xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="VOYAGE.xsd"/>
	</xsd:schema>
  </types>
  <message name="inputMsg">
    <part name="part" element="ns:VOYAGE"/>
  </message>
  <message name="RetMsg">
    <part name="part" type="xsd:int"/>
  </message>
  <message name="outputMsg">
    <part name="part" element="ns:VOYAGE"/>
  </message>
  <portType name="jdbcPortType">
    <operation name="insert">
      <input name="inputInsert" message="tns:inputMsg"/>
      <output name="outputInsert" message="tns:RetMsg"/>
    </operation>
    <operation name="find">
      <input name="inputFind" message="tns:inputMsg"/>
      <output name="outputFind" message="tns:outputMsg"/>
    </operation>
  </portType>
  <binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="VOYAGE_ID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="VOYAGE" Transaction="NOTransaction" numberOfRecords="" operationType="insert" paramOrder="FK_LOCALISATION_DEPART,FK_LOCALISATION_ARRIVE,FK_CLIENT_ID,DATE" sql="insert into VOYAGE (FK_LOCALISATION_DEPART,FK_LOCALISATION_ARRIVE,FK_CLIENT_ID,DATE) values (?,?,?,?)"/>
      </input>
      <output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
    <operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="VOYAGE_ID" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="VOYAGE" Transaction="NOTransaction" numberOfRecords="" operationType="find" sql="select VOYAGE_ID from VOYAGE where FK_LOCALISATION_DEPART in (?) and FK_LOCALISATION_ARRIVE in (?) and FK_CLIENT_ID in (?) and DATE in (?)" paramOrder="FK_LOCALISATION_DEPART,FK_LOCALISATION_ARRIVE,FK_CLIENT_ID,DATE"/>
      </input>
      <output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </output>
    </operation>
  </binding>
  <service name="service">
    <port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/turnkeyDB"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</definitions>


